[submodule "mobile-sdk-android"]
	path = mobile-sdk-android
	url = git@bitbucket.org:brivoinc/mobile-sdk-android.git
[submodule "mobile-sdk-shared"]
	path = mobile-sdk-shared
	url = git@bitbucket.org:brivoinc/mobile-sdk-c.git
